falcon==1.4.1
gunicorn==19.7.1
pymongo
falcon-cors
flatten_json
gevent
requests
pandas
otxv2
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability